<div class="main-terms-class">
  <div class="secondary-terms-class">
    <h2>Welcome to Filmnet!</h2>
    <p>Filmnet is a complete digital library of movie information, actors and filmmakers you love.</p>
    <p> On Filmnet you will find:</p>
    <p> • Reviews of upcoming and classic films</p>
    <p> • In-depth resource about your favorite movies, actors and filmmakers</p>
    <p> • New movies that will soon be shown in cinemas</p>
    <p> • Ability to explore movies with various criteria such as genre, title or subject</p>
    <p> • Ability to create your favorite movie list (free registration needed)</p>
    <p>  • Ability to rate and comment on the films you want (free registration needed)</p>
    <p>  • Ability to watch movie trailers (free registration needed)</p>
    <p> • Personalized recommendations - movie suggestions for you by creating your own free account</p>
  </div>
</div>
