<div class="header-class">
  <mat-icon style="margin-right: 1vm">movie</mat-icon>
  Movies
</div>
<div class="body-class">
  <app-card-carousel [title]="'Most popular'" [movieList]="popularMoviesList"></app-card-carousel>
  <app-card-carousel [title]="'Be patient! They are coming!'" [movieList]="upComingMoviesList"></app-card-carousel>
  <app-card-carousel [title]="'Top rated'" [movieList]="topRatedMoviesList"></app-card-carousel>

  <app-card-carousel [categoryId]="'12'" [title]="'Adventure'" [movieList]="adventureMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'878'" [title]="'Science Fiction'"
                     [movieList]="scienceFictionMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'10749'" [title]="'Romance'" [movieList]="romanceMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'14'" [title]="'Fantasy'" [movieList]="fantasyMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'27'" [title]="'Horror'" [movieList]="horrorMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'16'" [title]="'Animation'" [movieList]="animationMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'18'" [title]="'Drama'" [movieList]="dramaMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'28'" [title]="'Action'" [movieList]="actionMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'35'" [title]="'Comedy'" [movieList]="comedyMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'36'" [title]="'History'" [movieList]="historyMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'37'" [title]="'Western'" [movieList]="westernMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'53'" [title]="'Thriller'" [movieList]="thrillerMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'80'" [title]="'Crime'" [movieList]="crimeMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'99'" [title]="'Documentary'"
                     [movieList]="documentaryMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'9648'" [title]="'Mystery'" [movieList]="mysteryMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'10402'" [title]="'Musical'" [movieList]="musicMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'10751'" [title]="'Family'" [movieList]="familyMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'10752'" [title]="'War'" [movieList]="warMoviesList"></app-card-carousel>
  <app-card-carousel [categoryId]="'10770'" [title]="'TV movies'" [movieList]="tvMoviesList"></app-card-carousel>
</div>





