<mat-card class="common-card">
  <mat-card-header>
    <mat-card-title fxLayout="row" fxFlex fxLayoutAlign="space-between start">
      <div fxLayout="row" fxFlex fxLayoutAlign="center start">
        <span class="title">Forgot password</span>
        <div fxLayout="row" fxFlex fxLayoutAlign="end start">
          <button mat-flat-button class="exit-button" (click)="close()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="send()" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-form-field appearance="legacy" fxFlex="100">
        <mat-label>Email</mat-label>
        <input matInput type="text" autocomplete="doNotAutoComplete" [formControlName]="'email'" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <button fxFlex="100" mat-raised-button (click)="send()">Send email</button>
  </div>
</mat-card>
