@import "src/styles/variables";

.submit-button {
  width: 28%;
}

.mat-icon {
  color: $simpleColor !important;
}

@media all and (min-width: 960px) {
  .common-card {
    padding-top: 3%;
    padding-bottom: 2%;
  }
}

@media all and (max-width: 960px) {
  .common-card {
    padding-top: 5%;
    padding-bottom: 4%;
  }

  .submit-button {
    width: 50%;
  }
}

@media all and (max-width: 600px) {
  .common-card {
    padding-top: 10%;
    padding-bottom: 9%;
  }

  .submit-button {
    width: 100%;
  }
}
