<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body style="font-family: Helvetica, sans-serif;font-size: 14px; background-color: #f2f2f2; height: 50%">
<div style="text-align: center">
  <p style="font-weight: bold;" th:text="${'Dear ' + name + ','}"></p>
  <br>
  <p>You have requested to reset your password. If you didn't make the request, </p>
  <p>just ignore the email. Otherwise, you can reset your password using this link:</p>
  <a style="text-decoration: underline;color:black;" th:href="${link}"
     th:text="${'Click here to reset password'}"></a>
  <br>
  <div style="font-weight: bold;">
    <p>Thank you,</p>
    <p>The FilmNet Team</p>
  </div>
</div>
</body>
</html>
