<iframe width="100%"
        src="https://www.youtube-nocookie.com/embed/22oiqgtV6hw?playlist=22oiqgtV6hw&loop=1&rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1&amp;mute=1&amp;modestbranding=1&amp"
        frameborder="0" allow="autoplay; encrypted-media;"
        allowfullscreen></iframe>


<app-card-carousel [title]="'Most popular'" [movieList]="popularMoviesList"></app-card-carousel>
<app-card-carousel [title]="'Top rated movies'" [movieList]="topRatedMoviesList"></app-card-carousel>
<app-card-carousel [title]="'Coming soon'" [movieList]="upComingMoviesList"></app-card-carousel>
<app-card-carousel [title]="'Latest movies'" [movieList]="latestMoviesList"></app-card-carousel>
